# 14. Lambda Functions in Python

### What is Lambda Function?
 * __A Lambda function is a small, anonymous (nameless) function written in one single line.__


## ðŸ“ŒSimple Definition
 * __A lambda function is a one-line function without a name.__


## Why Lambda Functions are Used
 * __Short & Clean code.__
 * __Used for temporary operations.__
 * __Common with map(), filter(), reduce(), apply()__
 * __Improves readability in simple logic.__

## Normal Function vs Lambda function

In [1]:
# simple function
def square(x):
    return x*x
square(10)

100

In [2]:
# lambda function
(lambda x:x*x)(10)

100

### Notes
 * __Same Output__
 * __Less code__

### Syntax of Lambda function

In [3]:
lambda arguments:expression

## ðŸ“Œ Rules:
 * __Can have multiple arguments__
 * __Only one expression__
 * __Automatically returns result__
 * __No return keyword__

## 1ï¸âƒ£ Addition of Two Numbers

In [6]:
# Normal Function
def addTwo(x,y):
    return x+y
addTwo(10,-50)

-40

In [7]:
(lambda a,b:a+b)(10,-50)

-40

## 2ï¸âƒ£ Square of a number

In [8]:
# Normal function

def sqrNum(x):
    return x**2

sqrNum(10)

100

In [9]:
(lambda x:x**2)(10)

100

## 3ï¸âƒ£ Check Even or Odd Numbers

In [13]:
def checkEvenorOdd(x):
    if x%2==0:
        return f"Even Number:{x}"

checkEvenorOdd(10)

'Even Number:10'

In [18]:
(lambda a:f'Even Number:{a}' if a%2==0 else f'Odd Number:{a}')(11)

'Odd Number:11'

## Lambda with Multiple Arguments

In [27]:
# Normal Function
def maxNum(a,b,c):
    if a>b and a>c:
        print(f'Max Num:{a}')
    else:
        if b>c:
            print(f"Max Num: {b}")
        else:
            print(f"Max Num:{c}")
maxNum(10,20,15)

Max Num: 20

In [28]:
# Anonymous Function
(lambda a,b,c: f"Max Num:{a}" if a>b and a>c else (f"Max Num:{b}" if b>c  else f"Max Num:{c}"))(10,20,15)

'Max Num:20'

## Lambda with map() [Very Important]
 * __Apply a function to each element in a list__

In [38]:
numbers = [1,2,3,4]

# syntax: map(function,sequence)

# with normal function 
def sqr(x):
    return x*x

In [39]:
list(map(sqr,numbers))

[1, 4, 9, 16]

In [40]:
# syntax: map(function,sequence)

# with anonymous function
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16]

## Lambda with `filter()`

 * __Filter elements based on condition.__

 * `Syntax:`

 * __filter(function, sequence)__

In [7]:
# find out even numbers only.
numbers = [1,2,3,4,5,6,7,8,9,10]

# Normal function 
def evenNum(x):
    if x%2==0:
        return f"Even Number:{x}"


# evenNum(11)

In [8]:
list(filter(evenNum,numbers))

[2, 4, 6, 8, 10]

In [9]:
# Anonymous function
numbers = [1,2,3,4,5,6,7,8,9,10]

list(filter(lambda x:x%2==0,numbers))

[2, 4, 6, 8, 10]

In [10]:
# Odd number Normal function
numbers = [1,2,3,4,5,6,7,8,9,10]
def oddNum(x):
    if x%2!=0:
        return x

In [11]:
numbers = [1,2,3,4,5,6,7,8,9,10]

list(filter(oddNum,numbers))

[1, 3, 5, 7, 9]

In [12]:
# odd Numbers with Anonymous function

numbers = [1,2,3,4,5,6,7,8,9,10]
list(filter(lambda x:x%2!=0,numbers))

[1, 3, 5, 7, 9]

## Lambda with `reduce()`

* __ðŸ“ŒIt Requires functools__

In [15]:
from functools import reduce

In [14]:
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, iterable[, initial], /) -> value

    Apply a function of two arguments cumulatively to the items of an iterable, from left to right.

    This effectively reduces the iterable to a single value.  If initial is present,
    it is placed before the items of the iterable in the calculation, and serves as
    a default when the iterable is empty.

    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])
    calculates ((((1 + 2) + 3) + 4) + 5).

* __`Syntax:`__
* __reduce(function, iterable[, initial], /)__

In [21]:
numbers = [1,2,3,4,5,6,7,8,9,10]

# Normal function 

def sumNum(x,y):
    return x+y

In [22]:
reduce(sumNum,numbers)

55

In [23]:
# Anonymous function

reduce(lambda a,b:a+b,numbers)

55

## Lambda with Sorting

In [27]:
students = [("Ram",85,"M"),("Anita",92,"F"),("Kiran",78,"F"),("Sweta",99,"F")]

sorted(students, key=lambda x:x[1])

[('Kiran', 78, 'F'), ('Ram', 85, 'M'), ('Anita', 92, 'F'), ('Sweta', 99, 'F')]

In [28]:
sorted(students, key=lambda x:x[0])

[('Anita', 92, 'F'), ('Kiran', 78, 'F'), ('Ram', 85, 'M'), ('Sweta', 99, 'F')]

In [29]:
sorted(students, key=lambda x:x[2])

[('Anita', 92, 'F'), ('Kiran', 78, 'F'), ('Sweta', 99, 'F'), ('Ram', 85, 'M')]

## Lambda with `apply()` in Python(Pandas)
---
### What is `apply()`?

`apply()` is used in Pandas to apply a function (includuing lambda) to:
 * Each **column**
 * Each **row**
 * Each **cell(series)**

### Simple Definition
 * `apply()` applies a funciton to data elements.


### Why Use Lambda with `apply()` ?
 * Sort, clean logic
 * No need to define full functions
 * Best for data transformation
 * widely used in Data Science

In [30]:
import pandas as pd

In [31]:
data = pd.Series([1,2,3,4,5,6,7,8,9,10])
print(data)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [32]:
# square of the series

result = data.apply(lambda x:x**2)
result

0      1
1      4
2      9
3     16
4     25
5     36
6     49
7     64
8     81
9    100
dtype: int64

## Lambda with `apply()` on DataFrame Column

In [34]:
import pandas as pd
# Increase Salary by 10%

df = pd.DataFrame({
    "Name":["Ram","Shyam","Sweta"],
    "Salary":[40000,50000,45000]
})
print(df)
print(type(df))

    Name  Salary
0    Ram   40000
1  Shyam   50000
2  Sweta   45000
<class 'pandas.core.frame.DataFrame'>

In [37]:
df["New Salary"] = df['Salary'].apply(lambda x:x+(x*1/10))
df

    Name  Salary  New Salary
0    Ram   40000     44000.0
1  Shyam   50000     55000.0
2  Sweta   45000     49500.0