# 15. List Comprehension

## üî∑ What is List Comprehenstion?
 * __List comprehension is a short and radable way to create lists using a single line of code.__

 * __üìåSimple Definition__

 * __List comprehension creates a new list from an existing iterable in one line.__

## üî∑Why Use List Comprehension?
 * __Less code__
 * __More readable__
 * __Faster than loops__
 * __Widely used in real projects__

## üî∑ Normal Loop VS List Comprehenstion

 __Using Loop__

In [2]:
square = []
for i in range(1,6):
    square.append(i*i)
square

[1, 4, 9, 16, 25]

__Using List Comprehension__

In [6]:
[i*i for i in range(1,6)]

[1, 4, 9, 16, 25]

## üî∑ Baisc Syntax

[expression for item in iterable]

## 1Ô∏è‚É£ Simple Example

In [7]:
numbers = [1,2,3,4]
result = [x*2 for x in numbers]
result

[2, 4, 6, 8]

In [10]:
list(map(lambda x:x*2,numbers))

[2, 4, 6, 8]

## 2Ô∏è‚É£ List Comprehension with if condition

In [11]:
num=[1,2,3,4,5,6,7,8,9,10]

list(filter(lambda x:x%2==0,num))

[2, 4, 6, 8, 10]

In [16]:
[a for a in num if a%2==0]

[2, 4, 6, 8, 10]

In [18]:
[a for a in num if a%2!=0]

[1, 3, 5, 7, 9]

In [15]:
# List comprehension

["Even" if i%2==0 else "odd" for i in num]

['odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even']

## 3Ô∏è‚É£ List Comprehenstion with if-else

In [20]:
[x for x in range(1,30) if x%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [22]:
[i for i in range(1,30) if i%2!=0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

## üìå Rule:
 * __if-else comes before for__

## 4Ô∏è‚É£ Nested List Comprehension

In [30]:
matrix = [[1,2],[3,4],[5,6]]

flat_list = [num for row in matrix for num in row]
flat_list   # series

[1, 2, 3, 4, 5, 6]

In [28]:
from pandas import pandas as pd

In [29]:
df = pd.DataFrame(matrix)
df

   0  1
0  1  2
1  3  4
2  5  6

In [37]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]

df2 = pd.DataFrame(matrix)
df2

# df2.shape

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [39]:
flat_list = [num for row in matrix for num in row]
flat_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## 5Ô∏è‚É£List Comprehension with Strings

In [40]:
word = "python"

[i.upper() for i in word]

['P', 'Y', 'T', 'H', 'O', 'N']

## 6Ô∏è‚É£ List Comprehension with Range

In [41]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 7Ô∏è‚É£ Using Function inside the List Comprehension

In [42]:
def square(x):
    return x*x

In [43]:
[square(i) for i in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## 8Ô∏è‚É£ List Comprehension vs map() 

__Using map()__

In [45]:
list1 = [1,2,3]

list(map(lambda x:x*2, list1))

[2, 4, 6]

__Using List Comprehension__

In [46]:
[a*2 for a in [1,2,3]]

[2, 4, 6]

### üìå List Comprehension is more readable