# 18. JSON in Python

---
## üî∑ What is JSON?

__JSON = JavaScript Object Notation__

It is a __lightweight data format used to store and exchange data.__


üìå Used in:
* Web APIs
* Django/Flask Framework
* Frontend -> Backend communication
* Congfig files

---

üî∑JSON vs Python Dictionary

---
| JSON| Python|
|---|---|
|double quotes `""`| Single or Double quotes-`''`, `""`|
|`true`|`True`|
|`false`|`False`|
|`null`|`None`|

###  üî∑ Example JSON

In [3]:
json1={
    "name":"Kushal",
    "age":25,
    "city":"Delhi"
}
print(json1)
print(type(json1))

{'name': 'Kushal', 'age': 25, 'city': 'Delhi'}
<class 'dict'>

## üî∑ Working with JSON in Python

Python provides built-in module:

In [4]:
import json

In [6]:
# help(json)

| JSON            | Python |
|-----------------|--------|
| object          | dict   |
| array           | list   |
| string          | str    |
| number (int)    | int    |
| number (real)   | float  |
| true            | True   |
| false           | False  |
| null            | None   |

| Python       | JSON   |
|--------------|--------|
| dict         | object |
| list, tuple  | array  |
| str          | string |
| int, float   | number |
| True         | true   |
| False        | false  |
| None         | null   |

In [7]:
json1={
    "name":"Kushal",
    "age":25,
    "city":"Delhi"
}
print(json1)
print(type(json1))

{'name': 'Kushal', 'age': 25, 'city': 'Delhi'}
<class 'dict'>

## 1Ô∏è‚É£ Convert Python --> JSON

üî∑`json.dumps()` (Python Dictionary to JSON String)

In [11]:
data = {
    "name":"Kushal",
    "age":25,
    "city":"Delhi"
}
print(data,type(data))

json_data = json.dumps(data)
print(json_data, type(json_data))

{'name': 'Kushal', 'age': 25, 'city': 'Delhi'} <class 'dict'>
{"name": "Kushal", "age": 25, "city": "Delhi"} <class 'str'>

## üî∑ Pretty Print JSON

In [15]:
json_data1 = json.dumps(data,indent=4)
print(json_data1)

{
    "name": "Kushal",
    "age": 25,
    "city": "Delhi"
}

In [16]:
json_data1["name"]

TypeError: string indices must be integers, not 'str'

In [17]:
data['name']

'Kushal'

## 2Ô∏è‚É£ Convert JSON -> Python Dictionary

## üî∑ `json.loads()`: (JSON string to Dictionary)

In [19]:
print(json_data1,type(json_data1))

{
    "name": "Kushal",
    "age": 25,
    "city": "Delhi"
} <class 'str'>

In [20]:
json_data1['name']

TypeError: string indices must be integers, not 'str'

In [21]:
data1 = json.loads(json_data1)
print(data1)
print(type(data1))

{'name': 'Kushal', 'age': 25, 'city': 'Delhi'}
<class 'dict'>

In [22]:
data1['name']

'Kushal'

In [23]:
data1['name'] = "Gurav"
data1

{'name': 'Gurav', 'age': 25, 'city': 'Delhi'}

In [24]:
json_string = json.dumps(data1,indent=4)
print(json_string)

{
    "name": "Gurav",
    "age": 25,
    "city": "Delhi"
}

##  3Ô∏è‚É£ Woring With JSON Files 
---
üî∑ Writing JSON File

In [28]:
data = {
    "name":"Kushal",
    "age":25
}
print(data,type(data))

{'name': 'Kushal', 'age': 25} <class 'dict'>

In [29]:
with open("C:\\Users\\User\\Desktop\\data.json","w") as file:
    json.dump(data,file,indent=4)

### üî∑ dump() vs dumps()

|Function|Use|
|--|--|
|dump()|Write to file|
|dumps()|Convert to string|
|load()|Read from file|
|loads()|Convert string to dict|

In [2]:
import json


with open('C:\\Users\\User\\Desktop\\data.json','r') as file:
    data = json.load(file)
    print(data)

{'name': 'Kushal', 'age': 25}

## üî∑ Real-world Example: API Response

In [4]:
response = '{"status":"sucess","code":200}'

data  = json.loads(response)
print(data)

if data['status'] == "sucess":
    print("API is Working")

{'status': 'sucess', 'code': 200}
API is Working

## üî∑ Handling JSON Errors

In [8]:
try:
    data  = json.loads("invalid json")
except json.JSONDecodeError:
    print("Invalid JSON format")
else:
    print(data)

Invalid JSON format

## üî∑ JSON With List of Dictionaries

In [13]:
students = [
    {"name":"Kushal","marks":85},
    {"name":"Gurav","marks":90}
]

print(students,type(students))

json_data = json.dumps(students, indent=4)
print(json_data)

[{'name': 'Kushal', 'marks': 85}, {'name': 'Gurav', 'marks': 90}] <class 'list'>
[
    {
        "name": "Kushal",
        "marks": 85
    },
    {
        "name": "Gurav",
        "marks": 90
    }
]