### 20. Database Connectivity

### SQL Connectivity and CRUD Operations

(python+Database)

## 1ï¸âƒ£ What is MySQL Connectivity?

* `MySQL Connectivity means:`
 __Connecting  a Python Program to a MySQL database to store, retrieve, update and delete data.__


## ðŸ“Œ Used In:
 * __Web Applications__
 * __Django/Flask backend__
 * __Desktop Applications__
 * __Real-time systems__


## 2ï¸âƒ£ What is CRUD?

| Operation | SQL | Meaning |
|---|---|---|
|Create|INSERT|Add new record|
|Read|SELECT|Fetch data|
|Update|UPDATE| Modify data|
|Delete|DELETE|Remove data|

## 3ï¸âƒ£ Requirements

âœ… Software Needed
 * Python Installed
 * MySQL Server
 * MySQL Workbench(Optional)

âœ… Python Library

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (9.6.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import mysql.connector as c

In [3]:
conn = c.connect(
    host = "localhost",
    user = 'root',
    password = '123456789',
    
)

In [4]:

cursor = conn.cursor()
print("Connected to MySQL")

cursor.execute("CREATE DATABASE school")

Connected to MySQL

DatabaseError: 1007 (HY000): Can't create database 'school'; database exists

In [5]:
cursor.execute("USE School")

In [ ]:
cursor.execute("CREATE TABLE STUDENT(ID INT AUTO_INCREMENT PRIMARY KEY, NAME VARCHAR(100), MARKS INT)")
print("Table Created")

In [6]:
cursor.execute("DESCRIBE student")
for i in cursor:
    print(i)

('ID', 'int', 'NO', 'PRI', None, 'auto_increment')
('NAME', 'varchar(100)', 'YES', '', None, '')
('MARKS', 'int', 'YES', '', None, '')

In [7]:
if conn.is_connected():
    print("connected Succesfully!!")

connected Succesfully!!

# Create
##  Insert Single Record

In [8]:
query = "INSERT INTO student (id,name,marks) VALUES (%s,%s,%s)"
data = (101,"Rahul",85)
cursor.execute(query,data)
conn.commit()
print("Record Inserted")

Record Inserted

In [9]:
cursor.execute("SELECT * FROM STUDENT")

In [10]:
for j in cursor:
    print(j)

(101, 'Rahul', 85)

### Notes:
* `conn` -> Connection object
* `cursor` --> execute SQL Queries

## Create Table