# 3.Lists in Python 

 * __List are ordered.__
 * __List can contains any type of data type.__
 * __List elemnets can be accessed by index.__
 * __List can be nested to any arbitrary depth.__
 * __Lists are mutable.__
 * __Lists are dynamic.__

In [2]:
# Creating a list 

nlis = []
print(nlis,type(nlis))

[] <class 'list'>

In [3]:
# create a list with elements

nlis = ["Python", 25,2025,True,False]
print(nlis,type(nlis))

['Python', 25, 2025, True, False] <class 'list'>

In [4]:
# Index value [Positive and Negative value]

# Positive indexing

print(nlis[0])
print(nlis[1])
print(nlis[2])
print(nlis[3])
print(nlis[4])
# print(nlis[5]) there is no value present on this address

Python
25
2025
True
False

In [5]:
# Negative Indexing 

print(nlis[-1])
print(nlis[-2])
print(nlis[-3])
print(nlis[-4])
print(nlis[-5])

False
True
2025
25
Python

In [6]:
# total length of the list 

print(len(nlis))

5

In [7]:
nlis

['Python', 25, 2025, True, False]

In [8]:
# slicing of list element  , n-1 = 

newList = nlis[0:3]  # [starts: ends]
print(newList)

['Python', 25, 2025]

In [9]:
newList1 = nlis[3:5]  # n-1 = 4-1 = 3, 5-1 = 4
print(newList1)

[True, False]

In [10]:
nlis

['Python', 25, 2025, True, False]

In [11]:
# striding value: skip value
nlis

['Python', 25, 2025, True, False]

In [12]:
nlis[::2]  # n-1 = 2-1 = 1

['Python', 2025, False]

In [13]:
nlis[::3]

['Python', True]

In [14]:
# List Operations 

# reading of element 
# Insertion of elements - [append, extend, insert]
# Updatation of element - update
# Deletion of element - del(), discard()

In [15]:
nlis = ['Python', 3.14, 14, True, False, [1,1,2,5,8,14,20],("hello world",147.25)]
print(nlis)

['Python', 3.14, 14, True, False, [1, 1, 2, 5, 8, 14, 20], ('hello world', 147.25)]

# append() method
 * __As different from the extend() mehtod, wht the append() method, we add only one element to the list.__
 * __You can see the difference comparing the above and below codes.__

In [16]:
# append() method 

print(nlis)

['Python', 3.14, 14, True, False, [1, 1, 2, 5, 8, 14, 20], ('hello world', 147.25)]

In [17]:
nlis.append("Hello world")   # ("parameter")
print(nlis)

['Python', 3.14, 14, True, False, [1, 1, 2, 5, 8, 14, 20], ('hello world', 147.25), 'Hello world']

In [18]:
nlis.append("Noida","Dwarka")

TypeError: list.append() takes exactly one argument (2 given)

# Extend() method 

 * __We use the extend() function to add a new element to the list.__
 * __With this function, we add more than one element to the list.__

In [19]:
nlis

['Python',
 3.14,
 14,
 True,
 False,
 [1, 1, 2, 5, 8, 14, 20],
 ('hello world', 147.25),
 'Hello world']

In [21]:
nlis.extend(["Noida","Dwarka"])
nlis

['Python',
 3.14,
 14,
 True,
 False,
 [1, 1, 2, 5, 8, 14, 20],
 ('hello world', 147.25),
 'Hello world',
 'Noida',
 'Dwarka']

# insert() method

 * __It takes at lease two parameter at a time, 1-parameter is the position of element. 2-parameter is the value.__

In [22]:
print(nlis)

['Python', 3.14, 14, True, False, [1, 1, 2, 5, 8, 14, 20], ('hello world', 147.25), 'Hello world', 'Noida', 'Dwarka']

In [23]:
nlis.insert(0,"AnandVihar")
nlis

['AnandVihar',
 'Python',
 3.14,
 14,
 True,
 False,
 [1, 1, 2, 5, 8, 14, 20],
 ('hello world', 147.25),
 'Hello world',
 'Noida',
 'Dwarka']

In [24]:
nlis.insert(4,"Gaurav")
nlis

['AnandVihar',
 'Python',
 3.14,
 14,
 'Gaurav',
 True,
 False,
 [1, 1, 2, 5, 8, 14, 20],
 ('hello world', 147.25),
 'Hello world',
 'Noida',
 'Dwarka']

### len(), count(), index(), max(), min(), sum() function in list

In [31]:
lis = [1,2,3,4,5,6,7,8,9,1,2,2,2]  # all values are in number form. # aggrerate function
print(len(lis))  # 9

print(lis.count(2)) # How many 2 are on the list 'lis'?
print(lis.index(7)) # What is the index of the number 7 in the list/
print(max(lis)) # What is the maximum value in the list?
print(min(lis)) # it will return minimum value in the list
print(sum(lis)) # return total value after additing of the list

13
4
6
9
1
52

### Changing the element of a list since it is mutable.

In [32]:
print(nlis)

['AnandVihar', 'Python', 3.14, 14, 'Gaurav', True, False, [1, 1, 2, 5, 8, 14, 20], ('hello world', 147.25), 'Hello world', 'Noida', 'Dwarka']

In [35]:
# first access the address value
print(nlis[4])

# second assign new value on this address

nlis[4] = "Gurav Suratwala"
print(nlis)

Gaurav
['AnandVihar', 'Python', 3.14, 14, 'Gurav Suratwala', True, False, [1, 1, 2, 5, 8, 14, 20], ('hello world', 147.25), 'Hello world', 'Noida', 'Dwarka']

In [37]:
nlis[6]

nlis[6] = "Pune"
print(nlis)

['AnandVihar', 'Python', 3.14, 14, 'Gurav Suratwala', True, 'Pune', [1, 1, 2, 5, 8, 14, 20], ('hello world', 147.25), 'Hello world', 'Noida', 'Dwarka']

In [38]:
# Deleting the element from the list using del() function

# delete value takes position of element
print(nlis)

['AnandVihar', 'Python', 3.14, 14, 'Gurav Suratwala', True, 'Pune', [1, 1, 2, 5, 8, 14, 20], ('hello world', 147.25), 'Hello world', 'Noida', 'Dwarka']

In [40]:
nlis[4]

'Gurav Suratwala'

In [41]:
# use del() function 

del(nlis[4])
nlis

['AnandVihar',
 'Python',
 3.14,
 14,
 True,
 'Pune',
 [1, 1, 2, 5, 8, 14, 20],
 ('hello world', 147.25),
 'Hello world',
 'Noida',
 'Dwarka']

In [42]:
print(nlis)

['AnandVihar', 'Python', 3.14, 14, True, 'Pune', [1, 1, 2, 5, 8, 14, 20], ('hello world', 147.25), 'Hello world', 'Noida', 'Dwarka']

### Conversion of a string into a list using split() function

In [44]:
message = "Python is a programming language."
print(message,type(message))
y=message.split()
print(y, type(y))

Python is a programming language. <class 'str'>
['Python', 'is', 'a', 'programming', 'language.'] <class 'list'>

### use of split() function with a delimiter

In [47]:
txt = "p,y,t,h,o,n"
print(txt,type(txt))

txt2 = txt.split(",")
print(txt2,type(txt2))

p,y,t,h,o,n <class 'str'>
['p', 'y', 't', 'h', 'o', 'n'] <class 'list'>

### copy() the list

### shallow vs deep copy

In [51]:
# 1) shallow copy

originalValue = [[1,2],[3,4]]  # nested List
print(originalValue,type(originalValue))

copiedValue = originalValue.copy()
print(copiedValue,type(copiedValue))


originalValue.append("Python")
print(originalValue)

[[1, 2], [3, 4]] <class 'list'>
[[1, 2], [3, 4]] <class 'list'>
[[1, 2], [3, 4], 'Python']

In [52]:
copiedValue

[[1, 2], [3, 4]]

In [53]:
# Deep Copy()


deepCopy = originalValue
print(deepCopy,type(deepCopy))

[[1, 2], [3, 4], 'Python'] <class 'list'>

In [54]:
copiedDeepValue = deepCopy
print(copiedDeepValue)

[[1, 2], [3, 4], 'Python']

In [55]:
deepCopy.append("Hello world")

In [56]:
deepCopy

[[1, 2], [3, 4], 'Python', 'Hello world']

In [57]:
copiedDeepValue

[[1, 2], [3, 4], 'Python', 'Hello world']

In [59]:
# eval() function 

# This function serves the aim of converting a string to an integer or a float


expression = "8+7"  # 
print(expression,type(expression))

total = eval(expression)
print(total,type(total))  # 15, integer

8+7 <class 'str'>
15 <class 'int'>

In [63]:
# format() function

# This function helps to format the output printed on the screen with good look and attractive.


a = float(input("enter first number: "))
b = float(input('enter second number: '))

total = a+b
print("Total Value is:",total)

print("Sum of {} and {} is {}".format(a,b,total))

print(f"Sum of {a} and {b} is {total}")

enter first number:  45
enter second number:  63

Total Value is: 108.0
Sum of 45.0 and 63.0 is 108.0
Sum of 45.0 and 63.0 is 108.0