# 4. Tuples in Python 

 * __Tuples are immutable lists and cannot be changed in any way once it is created.__
 * __Tuples are defined in the same way as lits.__
 * __It is enclosed within parenthesisi and not within square braces.__
 * __Tuples are ordered, indexed collections of data.__
 * __Similar to string, indices, the first value in the tuple will have the index[0], the second value[1].__
 * __Negative indices are counted from the end of the tuple, just like lists.__
 * __Tuple also has the same structure where commas separate the values.__
 * __Tuples can store duplicate values.__
 * __Tuples allow you to store several data items inclduing string, integer, float in one variable.__

In [3]:
tup1 = ()
print(tup1,type(tup1))

() <class 'tuple'>

In [5]:
tup1 = ('Hello world',"Python",3.147,100,True,False, [1,2,3],(0,1),{10,10,20},{'a':'apple','b':'boy'})
print(tup1)

('Hello world', 'Python', 3.147, 100, True, False, [1, 2, 3], (0, 1), {10, 20}, {'a': 'apple', 'b': 'boy'})

In [8]:
# Accessing thier value using positive indexing

print(tup1[0])
print(tup1[1])
print(tup1[2])
print(tup1[3])
print(tup1[4])
print(tup1[5])
print(tup1[6])
print(tup1[7])
print(tup1[8])
print(tup1[9])

Hello world
Python
3.147
100
True
False
[1, 2, 3]
(0, 1)
{10, 20}
{'a': 'apple', 'b': 'boy'}

In [10]:
# Negative Indexing value 
print(tup1[-1])
print(tup1[-2])
print(tup1[-3])
print(tup1[-4])
print(tup1[-5])
print(tup1[-6])
print(tup1[-7])
print(tup1[-8])
print(tup1[-9])
print(tup1[-10])

{'a': 'apple', 'b': 'boy'}
{10, 20}
(0, 1)
[1, 2, 3]
False
True
100
3.147
Python
Hello world

In [11]:
print(type(tup1[0]))
print(type(tup1[1]))
print(type(tup1[2]))
print(type(tup1[3]))
print(type(tup1[4]))
print(type(tup1[5]))
print(type(tup1[6]))
print(type(tup1[7]))
print(type(tup1[8]))
print(type(tup1[9]))

<class 'str'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [20]:
tup1 = ('Hello world',"Python",3.147,100,True,False, [1,2,3],(0,1),{10,10,20},{'a':'apple','b':'boy'})
print(tup1)

('Hello world', 'Python', 3.147, 100, True, False, [1, 2, 3], (0, 1), {10, 20}, {'a': 'apple', 'b': 'boy'})

In [13]:
# slicing of tuple 

tup2 = tup1[4:6]
print(tup2)

(True, False)

In [15]:
# striding of tuple

print(tup1[::2])   # n-1 = 2-1=1

('Hello world', 3.147, True, [1, 2, 3], {10, 20})

In [16]:
# concatenation of two tuples

tup1 = ('hello world',True,False)

tup2 = ('python',20,10)

tup3 = tup1+tup2
print(tup3)

('hello world', True, False, 'python', 20, 10)

In [17]:
# Repetation of tuple 

tup1

('hello world', True, False)

In [18]:
2*tup1

('hello world', True, False, 'hello world', True, False)

In [19]:
x = 10

2*x

20

In [21]:
# Membership operator: in or not in

print(tup1)

('Hello world', 'Python', 3.147, 100, True, False, [1, 2, 3], (0, 1), {10, 20}, {'a': 'apple', 'b': 'boy'})

In [23]:
print('Hello world' in tup1)

True

In [24]:
print('Hello World' in tup1)

False

In [25]:
print("100" in tup1)

False

In [26]:
print(100 in tup1)

True

In [27]:
print((0,1) not in tup1)   # Gurav-False,

False

In [33]:
# min() function

rep_tup = (1,2,3,4,4)
min(rep_tup)

1

In [29]:
max(rep_tup)

4

In [30]:
sum(rep_tup)

10

In [31]:
rep_tup.count(1)

1

In [34]:
rep_tup.count(4)

2

In [35]:
# tup(seq) function 
# It converts a specific sequence to a tuple

seq = "helloworld"
tuple(seq)

('h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd')

In [37]:
# sorting of tuple 
# Data arranged in ascending or descending order

tuple_3 = (0,9,7,4,6,2,9,8,3,1)  # random value  , bubble sort

# ascending order
sortedTuples = sorted(tuple_3)
print(sortedTuples,type(tuple_3))

[0, 1, 2, 3, 4, 6, 7, 8, 9, 9] <class 'tuple'>

In [43]:
# Tuples are immutable

tuple_4 = (1,3,5,7)
print(tuple_4)

(1, 3, 5, 7)

In [44]:
tuple_4[0] = "Helllo world"
tuple_4

TypeError: 'tuple' object does not support item assignment

In [45]:
# adding value 

tuple_4.append('hello world')

AttributeError: 'tuple' object has no attribute 'append'

In [47]:
# deleting value 

del(tuple_4[0])

TypeError: 'tuple' object doesn't support item deletion

In [53]:
# count() method
# this method returns the number of time an item occurs in a tuple 

tuple_5 = (1,1,3,3,5,5,5,5,5,5,6,6,6,6,77)
print(tuple_5.count(1))
print(tuple_5.count(3))
print(tuple_5.count(5))
print(tuple_5.count(6))
print(tuple_5.count(77))
print(tuple_5.count(7)) # there is no item available in the tuple.

2
2
6
4
1
0

In [55]:
# index value
# it returns the index of the first occurrence of the specified value in a tuple

tuple_5 = (1,1,3,3,5,5,5,5,5,5,6,6,6,6,77)

print(tuple_5.index(3))
print(tuple_5.index(77))

2
14

In [57]:
# one element as tuple

# if a tuple includes only one elemnet, you should put a comma after the element. Otherwise, it is not considered as a tuple.

In [66]:
x = ()
print(x, type(x))

() <class 'tuple'>

In [67]:
x = ("hello world")
print(x, type(x))

hello world <class 'str'>

In [68]:
x = ("hello world",)
print(x, type(x))

('hello world',) <class 'tuple'>