# 5. Sets in Python

 * __Set is one of the 4 built-in data types on Python used to store collections of data inclduing Tuple.__
 * __Sets are unordered, but you can remove items and add new items.__
 * __Set elements are unique, Duplicate elements are not allowed.__
 * __A set itself may be modified, but the elements contained in the set must be of an immutable type.__
 * __Sets are used to store mutliple items in a single variable.__
 * __You can denote a set with a pair of curly brackets.__

In [1]:
x = {}  # same bracket of dictionary
print(x,type(x))

{} <class 'dict'>

In [3]:
y = {1}
print(y,type(y))

{1} <class 'set'>

In [4]:
# how to create empty dictionary

y1 = set()
print(y1,type(y1))

set() <class 'set'>

In [5]:
# take a set
set1 = {'Hello Python',3.147, 1.618,"Hello world",3.147, 1.618,True, False}
print(set1)

{False, 1.618, True, 3.147, 'Hello world', 'Hello Python'}

# converting list to set

In [8]:
nlis = ['Python',3.147,1.618,"Hello world",3.147,1.618,True,False, 2024]
print(nlis,type(nlis))


# convert the list to a set

set2 = set(nlis)
print(set2,type(set2))

['Python', 3.147, 1.618, 'Hello world', 3.147, 1.618, True, False, 2024] <class 'list'>
{False, 1.618, True, 3.147, 2024, 'Hello world', 'Python'} <class 'set'>

In [9]:
# set Operations 

set3 = set(['Python',3.147,1.618,"Hello world",3.147,1.618,True,False, 2024])
print(set3)

{False, 1.618, True, 3.147, 2024, 'Hello world', 'Python'}

In [10]:
# add() function 
# To add an element into a set, we use the funciton add(). 
# If the same element is added to the set, noting will happend beacuase the set accespts no duplicates.

set3

{1.618, 2024, 3.147, False, 'Hello world', 'Python', True}

In [11]:
set3.add("NOIDA")
set3

{1.618, 2024, 3.147, False, 'Hello world', 'NOIDA', 'Python', True}

In [13]:
# update() function 
# To add multiple elements into the set 

x_set = {6,7,8,9}
print(x_set)


x_set.update({3,4,5,6})
print(x_set)

{8, 9, 6, 7}
{3, 4, 5, 6, 7, 8, 9}

In [15]:
# remove() function 
# To remove an element from the set 
print(set3)
set3.remove('Hello world')
set3

{False, 1.618, True, 3.147, 2024, 'NOIDA', 'Hello world', 'Python'}

{1.618, 2024, 3.147, False, 'NOIDA', 'Python', True}

In [16]:
set3.remove('Hello world')
set3

KeyError: 'Hello world'

In [17]:
# discard() function 

# It leaves the set unchanged if the element to be deleted is not available in the set.

In [18]:
print(set3)

{False, 1.618, True, 3.147, 2024, 'NOIDA', 'Python'}

In [19]:
set3.discard('Hello world')
set3

{1.618, 2024, 3.147, False, 'NOIDA', 'Python', True}

In [21]:
set3.discard('NOIDA')
set3

{1.618, 2024, 3.147, False, 'Python', True}

In [22]:
# To verify if the element is in the set.

# membership operator  in or not in

"Hello world" in set3

False

In [23]:
'NOIDA' not in set3

True

In [25]:
# Logic Operations in Sets 
# Union
# Intersection
# Difference
# Symmetric Difference

set4 = set(['Hello Python',3.147,1.618,"Hello world"])
set5 = {3.147,1.618,True,False,2022}
print(set4)
print(set5)


# Union will be the unique value of two sets

uniqueValue = set4.union(set5)
print(uniqueValue)

{'Hello Python', 1.618, 3.147, 'Hello world'}
{False, 1.618, True, 3.147, 2022}
{False, 1.618, True, 3.147, 2022, 'Hello Python', 'Hello world'}

In [27]:
# Intersection of sets 

set4 = set(['Hello Python',3.147,1.618,"Hello world"])
set5 = {3.147,1.618,True,False,2022}
print(set4)
print(set5)

duplicateValue = set4.intersection(set5)
print(duplicateValue)

{'Hello Python', 1.618, 3.147, 'Hello world'}
{False, 1.618, True, 3.147, 2022}
{1.618, 3.147}

In [28]:
# Difference subtract

set4 = set(['Hello Python',3.147,1.618,"Hello world"]) # a
set5 = {3.147,1.618,True,False,2022} # b
print(set4)
print(set5)
# a-b, b-a

{'Hello Python', 1.618, 3.147, 'Hello world'}
{False, 1.618, True, 3.147, 2022}

In [30]:
# a-b
print(set4-set5)

{'Hello Python', 'Hello world'}

In [32]:
# b-a
# {True,False,2022}
print(set5-set4)

{False, True, 2022}

In [34]:
# second method 
set4.difference(set5)

{'Hello Python', 'Hello world'}

In [35]:
set5.difference(set4)

{False, True, 2022}

In [36]:
# symmetric difference 

set4 = set(['Hello Python',3.147,1.618,"Hello world"])
set5 = {3.147,1.618,True,False,2022}
print(set4)
print(set5)

{'Hello Python', 1.618, 3.147, 'Hello world'}
{False, 1.618, True, 3.147, 2022}

In [37]:
symDiff = set4.symmetric_difference(set5)
print(symDiff)

{False, True, 'Hello world', 2022, 'Hello Python'}

In [44]:
# min(), max() and sum() functions 

a = [1,1,2,2,2,3,3,4,4,4,4,5,5,5,5,5,5] # take a list
b = {1,1,2,2,2,3,3,4,4,4,4,5,5,5,5,5,5} # take a set

print("Minimum value of A:",min(a))
print("Minimum value of B:",min(b))
print("Maximum value of A:",max(a))
print("Maximum value of B:",max(b))
print("Sum of A:",sum(a))
print("Sum of B:",sum(b))

# As you see that the sum of A and B is different. Beacuase the set takes no duplicate value.

Minimum value of A: 1
Minimum value of B: 1
Maximum value of A: 5
Maximum value of B: 5
Sum of A: 60
Sum of B: 15

In [47]:
# No Mutable sequence in a set 
# A set can not have mutable elements such as list or dictionary in it. If any, it returns error as follow

set6 = {"Python",1,2,3,[1,2,3]}
print(set6)

TypeError: unhashable type: 'list'

In [48]:
# index() function 
# This function does not work in set since the set is unordered collection 

set7 = {1,2,3,4,5,6,7}
set7[0]

TypeError: 'set' object is not subscriptable

In [50]:
# clear() function 
# it removes all elements in the set and then do the set empty.

x = {0,1,2,3,4,5,6,7,8,9,10}
print(x)
x.clear()  # it will removes all keys inside the set.
print(x) # empty set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set()

In [51]:
# pop() function 
# It removes and returns an set elements. # first in first out

x = {0,1,2,3,4,5,6,7,8,9,10}
print(x)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [52]:
x.pop()
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [53]:
x.pop()
print(x)

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [54]:
x.pop()
print(x)

{3, 4, 5, 6, 7, 8, 9, 10}