# 8. Loops in Python

 * __A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).__
 * __This is less like the for keyword in other progrmming languages, and works more like an iterator method as found in other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __With the while loop we can execute a set of statements as long as a condition is true.__
 * __Note: remember to increment i, or else the loop will continue forever.__
 * __The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.__

## range() function
 * __It is helpful to think of the range object as an ordered list.__
 * __To loop through a set of code a specified number of times, we can use the range() function.__
 * __The range() function returns a sequence of numbers, starting from 0 by defult, and increments by 1(by default), and ends at a specified number.__

In [2]:
# sequence = string, list, tuples, set, dictionary

# [1,2,3,4,5,6,7,8,9,10]
# if,elif, else

In [3]:
# range(starts,end)   # n-1
+1
range(1,10) # n-1, end-1 = 10-1=9

range(1, 10)

In [5]:
range(10,100)

range(10, 100)

In [7]:
range(-1,10)

range(-1, 10)

In [9]:
range(-1,-10)  # is it range is valid or not # Invalid Condition

range(-1, -10)

In [10]:
# -1+1=0
# 0+1=1
# 1+1=2
# 2+1=3

range(-1,-10,-1)

range(-1, -10, -1)

In [ ]:
-1+ (-1) = -2
-2 + (-1) = -3

In [11]:
# Take an example 
# Directly accessing to the elements in the list 
years = [2005,2006,2007,2008,2009,2010]


for i in years:
    print(i)  # 2005,2006,2007, 2008, 2009, 2010

2005
2006
2007
2008
2009
2010

In [26]:
# range() function 
years = [2005,2006,2007,2008,2009,2010]

for i in range(len(years)):
    print(i, years[i])

0 2005
1 2006
2 2007
3 2008
4 2009
5 2010

In [12]:
range(10)  # n-1 = 10-1 = 9

range(0, 10)

In [21]:
# range(0,6) # n-1 = 
# 0,1,2,3,4,5 = total items 6
years = [2005,2006,2007,2008,2009,2010]
print(years[0])
print(years[1])
print(years[2])
print(years[3])
print(years[4])
print(years[5])

2005
2006
2007
2008
2009
2010

In [23]:
range(6)

range(0, 6)

In [27]:
range(1,6)

range(1, 6)

In [28]:
# 10 - natural number - counting number - 1
# 0 whole number
# 0,2,4,6,8,10,12 - Even number
# 1,3,5,7 - odd number
# 2,3,5,7,11,13,17 --- Prime number 

# CBSE-

In [29]:
# % - Modulus

3%2

1

In [30]:
# 1- 1 not a prime number

# 2 - {1,2} is prime number
# 3 - {1,3} is prime number
# 5 - {1,5} is prime number

In [34]:
# 10 - natural number - counting number - 1

for i in range(1,11): # 0, 10 - 11
    print(i)

1
2
3
4
5
6
7
8
9
10

In [36]:
# display 10 whole number

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [41]:
# 10 even number
# 0,2,4,8,10,12,14,16,18,20
# condition 
# num = 3
# if num%2 == 0:
#     print("Even")
# else:
#     print('odd')


for i in range(21):
    if i % 2 ==0:
        print(i) # 0, 2, 4

0
2
4
6
8
10
12
14
16
18
20

In [42]:
# 10 odd numbers


for i in range(21):
    if i % 2 == 1: 
        print(i)

1
3
5
7
9
11
13
15
17
19

In [44]:
for i in range(21):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [52]:
# find the sum of 10 natural number:

sumNatural = 0  # 1,3, 6,10, 15,21, 28, 36, 45, 55
for i in range(1,11):
    sumNatural =  sumNatural + i # 0+1 = 1, 1+2 = 3, 3+3 = 6,6+4 = 10, 10 + 5 = 15, 15+ 6 = 21, 21+7 = 28, 28+8 = 36, 36+ 9= 45, 45+10=55
    # print(sumNatural)
print(sumNatural)

55

In [53]:
# sumNatural

In [54]:
total = 0
for i in range(1, 11):
    total = total + i  
print(total)

55

In [55]:
# 10 evenNumber sum 

total = 0
for i in range(1, 21):      
    if i % 2 == 0:          
        total = total + i
print(total)

110

In [4]:
# Wap to display table of 19 
# 19x1=19
# 19x2=38
# 19x3=57
# .........
# .........
# 19x10=190


num = 19

for i in range(1,11):
    print(num,"x",i, '=',num*i)

19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

In [6]:
num = int(input("Enter any value"))
for i in range(1,11):
    print(num,"x",i, '=',num*i)

Enter any value 41

41 x 1 = 41
41 x 2 = 82
41 x 3 = 123
41 x 4 = 164
41 x 5 = 205
41 x 6 = 246
41 x 7 = 287
41 x 8 = 328
41 x 9 = 369
41 x 10 = 410

In [7]:
num = int(input("Enter any value"))
for i in range(1,11):
    # print(num,"x",i, '=',num*i)
    print(f"{num}X{i}={num*i}")

Enter any value 25

25X1=25
25X2=50
25X3=75
25X4=100
25X5=125
25X6=150
25X7=175
25X8=200
25X9=225
25X10=250

In [9]:
num = int(input("Enter any value"))
for i in range(1,11):
    # print(num,"x",i, '=',num*i)
    print("%dX%d=%d"%(num,i,num*i))

Enter any value 79

79X1=79
79X2=158
79X3=237
79X4=316
79X5=395
79X6=474
79X7=553
79X8=632
79X9=711
79X10=790

In [13]:
# wap to display table from 1-10 [nested loop]

for i in range(1,11):
    print(f"----------Table of {i}--------------")
    for j in range(1,11):
        print(i,"X",j,"=",i*j)
    print('\n')
    # print(i)

----------Table of 1--------------
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10


----------Table of 2--------------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20


----------Table of 3--------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30


----------Table of 4--------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40


----------Table of 5--------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50


----------Table of 6--------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60


----------Table of 7--------------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70


----------Table of 8--------------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80


----------Table of 9--------------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90


----------Table of 10--------------
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [22]:
# wap to display table from 1-10 [nested loop]

# for i in range(1,41):
#     print(f"----------Table of {i}--------------")
#     for j in range(1,11):
#         print(i,"X",j,"=",i*j)
#     print('\n')
#     # print(i)

In [17]:
# break and continue in for loop


# display numbers from 1-10

for i in range(1,11):  # 
    if i == 5:
        break  # loop will be terminated.
    print(i)

1
2
3
4

In [18]:
for i in range(1,11):  # 
    print(i)   # 5 will be printed 
    if i == 5:
        break  # loop will be terminated.

1
2
3
4
5

In [20]:
# continue in for loop 


# 1-10

for i in range(1,11):  # 1, 4 --------------- 6-10
    if i == 5:  # 5 will be true
        continue   # 
    print(i)  # 5 is not printed because loop will be continued before.

1
2
3
4
6
7
8
9
10

In [21]:
for i in range(1,11):  # 1, 4 --------------- 6-10
    print(i)
    if i == 5:  # 5 will be true
        continue   # 
    # print(i)  # 5 is not printed because loop will be continued before.

1
2
3
4
5
6
7
8
9
10

In [23]:
# 1-10 diplsy value using while loop


# range():---- there is no any keyword like a range. - 1, 11, bydefault +1 (incremented.)


start=1 # 2 3 4
end = 11

while start<end:  # True # 1 < 11, 2< 11, 3<11, 4<11
    print(start) # 1 , 2, 3
    start = start+1  # 2 # 3 4

1
2
3
4
5
6
7
8
9
10

In [24]:
start=1 # 2 3 4
end = 11

while start<end:  # True # 1 < 11, 2< 11, 3<11, 4<11
    print(start) # 1 , 2, 3
    start = start+1  # 2 # 3 4

1
2
3
4
5
6
7
8
9
10

In [27]:
# 10 even numbers using while loop

i = 1
j = 21

while i<j:
    if i%2==0:
        print(i)
    i+=1

2
4
6
8
10
12
14
16
18
20

In [28]:
i = 1
j = 21

while i<j:
    if i%2!=0:
        print(i)
    i+=1

1
3
5
7
9
11
13
15
17
19