# 8. Loops in Python

 * __A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).__
 * __This is less like the for keyword in other progrmming languages, and works more like an iterator method as found in other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __With the while loop we can execute a set of statements as long as a condition is true.__
 * __Note: remember to increment i, or else the loop will continue forever.__
 * __The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.__

## range() function
 * __It is helpful to think of the range object as an ordered list.__
 * __To loop through a set of code a specified number of times, we can use the range() function.__
 * __The range() function returns a sequence of numbers, starting from 0 by defult, and increments by 1(by default), and ends at a specified number.__

In [2]:
# sequence = string, list, tuples, set, dictionary

# [1,2,3,4,5,6,7,8,9,10]
# if,elif, else

In [3]:
# range(starts,end)   # n-1
+1
range(1,10) # n-1, end-1 = 10-1=9

range(1, 10)

In [5]:
range(10,100)

range(10, 100)

In [7]:
range(-1,10)

range(-1, 10)

In [9]:
range(-1,-10)  # is it range is valid or not # Invalid Condition

range(-1, -10)

In [10]:
# -1+1=0
# 0+1=1
# 1+1=2
# 2+1=3

range(-1,-10,-1)

range(-1, -10, -1)

In [ ]:
-1+ (-1) = -2
-2 + (-1) = -3

In [11]:
# Take an example 
# Directly accessing to the elements in the list 
years = [2005,2006,2007,2008,2009,2010]


for i in years:
    print(i)  # 2005,2006,2007, 2008, 2009, 2010

2005
2006
2007
2008
2009
2010

In [26]:
# range() function 
years = [2005,2006,2007,2008,2009,2010]

for i in range(len(years)):
    print(i, years[i])

0 2005
1 2006
2 2007
3 2008
4 2009
5 2010

In [12]:
range(10)  # n-1 = 10-1 = 9

range(0, 10)

In [21]:
# range(0,6) # n-1 = 
# 0,1,2,3,4,5 = total items 6
years = [2005,2006,2007,2008,2009,2010]
print(years[0])
print(years[1])
print(years[2])
print(years[3])
print(years[4])
print(years[5])

2005
2006
2007
2008
2009
2010

In [23]:
range(6)

range(0, 6)

In [27]:
range(1,6)

range(1, 6)

In [28]:
# 10 - natural number - counting number - 1
# 0 whole number
# 0,2,4,6,8,10,12 - Even number
# 1,3,5,7 - odd number
# 2,3,5,7,11,13,17 --- Prime number 

# CBSE-

In [29]:
# % - Modulus

3%2

1

In [30]:
# 1- 1 not a prime number

# 2 - {1,2} is prime number
# 3 - {1,3} is prime number
# 5 - {1,5} is prime number

In [34]:
# 10 - natural number - counting number - 1

for i in range(1,11): # 0, 10 - 11
    print(i)

1
2
3
4
5
6
7
8
9
10

In [36]:
# display 10 whole number

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [41]:
# 10 even number
# 0,2,4,8,10,12,14,16,18,20
# condition 
# num = 3
# if num%2 == 0:
#     print("Even")
# else:
#     print('odd')


for i in range(21):
    if i % 2 ==0:
        print(i) # 0, 2, 4

0
2
4
6
8
10
12
14
16
18
20

In [42]:
# 10 odd numbers


for i in range(21):
    if i % 2 == 1: 
        print(i)

1
3
5
7
9
11
13
15
17
19

In [44]:
for i in range(21):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [52]:
# find the sum of 10 natural number:

sumNatural = 0  # 1,3, 6,10, 15,21, 28, 36, 45, 55
for i in range(1,11):
    sumNatural =  sumNatural + i # 0+1 = 1, 1+2 = 3, 3+3 = 6,6+4 = 10, 10 + 5 = 15, 15+ 6 = 21, 21+7 = 28, 28+8 = 36, 36+ 9= 45, 45+10=55
    # print(sumNatural)
print(sumNatural)

55

In [53]:
# sumNatural

In [54]:
total = 0
for i in range(1, 11):
    total = total + i  
print(total)

55

In [55]:
# 10 evenNumber sum 

total = 0
for i in range(1, 21):      
    if i % 2 == 0:          
        total = total + i
print(total)

110