# 9. Functions in Python

 * __In python, a function is a group of related statements that performs a specific task.__
 * __Functions helps to break our program into smaller and modular chunks. As per our program grows larger and larger, functions make it more organized and manageable.__
 * __Furthermore, it avoids repetation and makes the code reusable.__
 * __There are two types of functions:__
   * __Predefined Functions__
   * __Userdefined functions.__
 * __In Python a function is defined using the def keyword followed by the funciton name and parentheses().__
 * __Keyword def that marks to start of the function header.__
 * __A function name to uniquely identify the function.__
 * __Function naming follows the same rules of writing identifiers in Python.__
 * __Parameters(arguments) through which we pass values to a function. They are optional.__
 * __A colon(:) to mark the end of the function header.__
 * __Optional documentation string(docstring) to describe what the function does.__
 * __One or more valid python statements that mark up the function body.__
 * __Statements must have the same indentation level (usually 4 spaces).__
 * __An optinal return statement to return a value from the function.__

In [4]:
def sum1(x):  # x is parameter
    y1 = x-8 # 10-8
    y2 = x+8 # 10+8
    y3 = x*8 # 10*8
    y4 = x/8 # 10/8
    y5 = x//8 # 10//8
    y6 = x%8  # 10%8
    print(f"If you make the above operations with {x}, the result will be {y1},{y2},{y3},{y4},{y5},{y6}")
    return y1,y2,y3,y4,y5,y6

sum1(10) # function invoking : 10 is argument : function call

If you make the above operations with 10, the result will be 2,18,80,1.25,1,2

(2, 18, 80, 1.25, 1, 2)

In [5]:
# this is userdefined function 
help(sum1)

Help on function sum1 in module __main__:

sum1(x)

In [7]:
# Function without parameter and without return : nullable function
# Function with parameter and with return : Parameterized function

In [8]:
def hello():
    return "Hello world"


hello()

'Hello world'

In [10]:
# function with multiple parameter

def multi(x,y):
    z = 2*x+5*y+45
    return z

multi(10,5)

90

In [12]:
# default parameter

def multi(x,y=20):
    z = 2*x+5*y+45
    return z

multi(10)

165

In [15]:

def multi(x,y=20):
    z = 2*x+5*y+45
    return z

multi(10,-10)

15

# Variables in function 

 * __The input to a function is called a formal Parameter.__
 * __A varible that is decalred inside a fucntion is called local varibale.__
 * __The parameter only exists within the function (i.e the point where the fucntion starts and stops.)__
 * __A viarble that is declared outside a fucntion definition is a global variable, and it's value is accessibel and modifable throughout the program.__

In [18]:
# define a function 


def function(x):  # x is formal parameter
    # Take a local varable 
    y = 3.147  # local varibale
    z = 3*x+1.618*y
    print("Calling global varibale inside the function:",y1)
    print(f"If you make the above operations with {x}, the results will be {z}")
    return z
y1 = 20  # global viarble
function(10)

Calling global varibale inside the function: 20
If you make the above operations with 10, the results will be 35.091846000000004

35.091846000000004

In [19]:
y1

20

In [20]:
y

NameError: name 'y' is not defined

In [24]:
# Without return statement, the function retuns None


def msg1():
    print("Hello Python")

def msg2():
    print("Hello world")
    return None

msg1()
msg2()

Hello Python
Hello world

In [ ]:
# Printing the function after a call indiciates a None is the default return statement.
# see the following pringing what the function return are:

In [22]:
print(msg1())

Hello Python
None

In [23]:
print(msg2())

Hello world
None

In [25]:
def string(x,y):
    return x+y
# Testing the function 'string(x,y)'
string('Hello',"world") # concatenation

'Helloworld'

In [26]:
string(10,12) # perform operations

22

In [29]:
# Simplicity of functions


x = 2.718
y = 0.577

equations = x*y+x+y-37+100
print(equations)

if equations>0:
    equations = 6
else: equations = 37

equations  # 6

67.863286

6

In [34]:
def function(x,y):
    equations = x*y+x+y-37+100
    print(equations)
    
    if equations>0:
        equations = 6
    else: equations = 37
    
    return equations
a1 = -80.718
b1 = 0.577
function(a1,b1)

-63.71528599999999

37

In [35]:
function(10,180)

2053

6

In [5]:
language = "Python"  # global vairble

def lang(language):
    global_var = language 
    print(global_var) # local viarble
    print(f"{language} is a program language")
lang(language)
lang(global_var)

Python
Python is a program language

NameError: name 'global_var' is not defined

In [10]:
# Define a function for a global variable 

language  = "JavaScript"

def lang(language):
    global global_var
    global_var = "Python"
    print(f"{language} is a programming language.")
lang(language)
lang(global_var)

JavaScript is a programming language.
Python is a programming language.

In [20]:
# Write a python program to print fibonacci series 

# 0,1,1,2,3,5,8
n = int(input("Enter any value: "))

a,b=0,1

for i in range(n):
    print(a,end=" ") #0,1 
    a,b = b, a+b

Enter any value:  10

0 1 1 2 3 5 8 13 21 34

In [22]:
def sumTwo(x,y):
    sum1 = x+y
    return sum1

sumTwo(10,20,30)

TypeError: sumTwo() takes 2 positional arguments but 3 were given

In [24]:
def sumTwo(*args):
    sum1 = sum(args)
    return sum1

sumTwo(10,20,30,10,20,50,560,50,50,-78)

722

In [25]:
def sumTwo(*args):
    sum1 = sum(args)
    return sum1

sumTwo(10,20,30,10,20,50,560,50,50,-78)

722

In [29]:
# 1. Square printing
# * * * *
# * * * *
# * * * *
# * * * *

for i in range(4):
    for j in range(4):
        print("*",end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [32]:
# 2. Trianlge printing
# *
# * *
# * * *
# * * * *

for i in range(1,5):
    print("* "*i)

*
* *
* * *
* * * *

In [33]:
for i in range(1,5):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *

In [37]:
# Inverted Right Triangle

# * * * *
# * * *
# * *
# *

for i in range(4,0,-1):
    print("* "*i)

* * * *
* * *
* *
*

In [38]:
for i in range(4,0,-1):
    for j in range(i):
        print('*',end=" ")
    print()

* * * *
* * *
* *
*

In [40]:
# Number Triangle
# 1
# 1 2
# 1 2 3
# 1 2 3 4

for i in range(1,5):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [ ]:

# 5. Repeated Number pattern
# 1
# 2 2 
# 3 3 3 
# 4 4 4 4

# 6. Pyramid Pttern
#    *
#   * *
#  * * *
# * * * *

# 7. Inverted Pyramid
# * * * *
#  * * *
#   * *
#    *
# 8. Floyd's Triangle
# 1
# 2 3
# 4 5 6
# 7 8 9 10

# 9.Binary Pattern
# 1
# 0 1
# 1 0 1
# 0 1 0 1

# 10.Alphabet Pattern
# A
# A B
# A B C
# A B C D